table{
    border-collapse:collapse;
}
    table td{
        border:1px solid gray;
        cursor:pointer;
        height:21px;
        padding:0;
        text-align:center;
        vertical-align:middle;
        width:20px;
    }
